div.inup-socialconnect-register,
div.inup-socialconnect-checkout,
div.inup-socialconnect-login {
    margin-top: 28px;
}

div.inup-socialconnect-login .content {
    min-height: 100px;
}

div.inup-socialconnect-register .fieldset {
    margin: 0px;
}

div.inup-socialconnect-account .col3-set .col-1 {
    width: 29%
}

div.inup-socialconnect-account .col3-set .col-2 {
    width: 49%
}

div.inup-socialconnect-account .col3-set .col-3 {
    width: 19%
}

div.inup-socialconnect-account .col2-set .col-1 {
    width: 79%
}

div.inup-socialconnect-account .col2-set .col-2 {
    width: 19%
}